body {
  background-image: url("https://img.freepik.com/premium-photo/halloween-background-generative-ai_1000174-435.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  
}

.winner-message {
   background-color:  #534696;
   background-position: center center;
   background-position: 100% 100%;
   width: 230px;
   height: 90px;
   margin-top: 50px;
   margin-left: 44%;
   text-align: center;
   justify-content: center;
   align-items: center;
   font-size: 60px;
   user-select: none;
   border-radius: 40%;
   
}