body {
  background-image: url("https://img.freepik.com/premium-photo/halloween-background-generative-ai_1000174-435.jpg");
  background-size: cover; /* Cambiado a 'cover' para cubrir completamente el fondo */
  background-position: center center;
  background-attachment: fixed;
  margin: 0; /* Añadido para eliminar el margen predeterminado del cuerpo */
}

.winner-message {
  background-color: #534696;
  width: 80%; /* Cambiado a porcentaje para hacerlo responsive */
  max-width: 230px; /* Limita el ancho máximo */
  height: 90px;
  margin: 50px auto; /* Centra el mensaje verticalmente y ajusta el margen horizontalmente */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw; /* Tamaño de fuente responsive basado en el ancho de la pantalla */
  user-select: none;
  border-radius: 50%; /* Corregido para un círculo perfecto */
}